[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
tqdm = "*"
arxiv = "*"
pymupdf = "*"
cairosvg = "*"
"pdfminer.six" = "*"
lxml = "*"
google-cloud-discoveryengine = "*"
google-api-core = "*"

[dev-packages]

[requires]
python_version = "3.9"
